.heading
{
    width: 100%;
    height: 75px;
    font-size: 50px;
}
body
{
    background-color:coral;
    font-family: 'Yomogi', cursive;
    font-size: 23px;
}
#item1
{
    background-color: orange;
    height: 400px;
    width: 320px;
    padding: 3px;
}
#item2
{
    background-color: orange;
    height: 480px;
    width: 340px;
    padding: 3px;
}
#item3
{
    background-color: orange;
    height: 430px;
    padding: 3px;
    width: 330px;
}
#item4
{
    background-color: orange;
    height: 400px;
    width: 320px;
    padding: 3px;
}
#item5
{
    background-color: orange;
    height:400px;
    width: 320px;
    padding: 3px;
}
#item6
{
    background-color: orange;
    height: 410px;
    width: 320px;
    padding: 3px;
}
#item7
{
    background-color: orange;
    height: 420px;
    width: 320px;
    padding: 3px;
}
#item8
{
    background-color: orange;
    height: 400px;
    width: 320px;
    padding: 3px;
}
#item9
{
    background-color: orange;
    height: 400px;
    width: 320px;
    padding: 3px;
}
#item10
{
    background-color: orange;
    height: 400px;
    width: 320px;
    padding: 3px;
}