.heading
{
    width: 100%;
    height: 75px;
    font-size: 50px;
}
body
{
    background-color:coral;
    font-family: 'Yomogi', cursive;
    font-size: 23px;
}
#item1
{
    background-color: orange;
    height: 250px;
    width: 200px;
}
#item2
{
    background-color: orange;
    height: 450px;
    width: 200px;
}
#item3
{
    background-color: orange;
    height: 375px;
    width: 200px;
}
#item4
{
    background-color: orange;
    height: 375px;
    width: 200px;
}
#item5
{
    background-color: orange;
    height: 300px;
    width: 200px;
}
#item6
{
    background-color: orange;
    height: 375px;
    width: 200px;
}
#item7
{
    background-color: orange;
    height: 400px;
    width: 200px;
}
#item8
{
    background-color: orange;
    height: 400px;
    width: 200px;
}
#item9
{
    background-color: orange;
    height: 400px;
    width: 200px;
}
#item10
{
    background-color: orange;
    height: 320px;
    width: 200px;
}